body{
  background-image: url("./wp2856244.gif"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: contain;
  background-size: cover;
  overflow: hidden;
}
h1{
  position: fixed;
  top :0;
  left:0;
  right: 0;
  text-align: center;
  color:linen;
  font-size: 70px;
	    text-align: center;
      line-height: 9px;
	    color:black;
	    
	   	font-family:  cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939
                  
                  
}

h4{
  
  position: fixed;
  bottom: 0;
  left:0;
  text-align: center;
  color: aqua;

}
.btn
{
  display: inline-block;
  border: 1px solid black;
 background-color: burlywood;
 /* padding : 20px 40px; */
 font-weight: lighter;
 text-align: center;
 text-shadow: 0px 2px 6px black ;
 -webkit-box-shadow: 0px 6px 2px black;
-moz-box-shadow: 0px 6px 2px #2b638f;
box-shadow: 0px 6px 2px black;
 margin:8px;
 width:90px;
 height:90px;
 border-radius: 7px;
 background-image: linear-gradient(grey,red,white);
 font-size: 60px;
color: white;
 
 
}
.board{
   display: flex;
   position: fixed;
   columns: 3;
  justify-content: center;
}
.game{
display: flex;
flex-direction: row;
justify-content: center;
position: absolute;
top:30%;
left:50%;
transform:  translate(-50%,-50%);
}
